version: '3.8'

services:
  monitor:
    image: nicolargo/glances:latest-full
    container_name: monitor_service
    restart: always
    environment:
      - "GLANCES_OPT=-w"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "61208:61208"

  dashboard:
    build: .
    container_name: dashboard_service
    volumes:
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "5000:5000"
    depends_on:
      - monitor