<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Docker Pulse Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <h1>Docker System Pulse</h1>
    <p id="os-info" style="color: #888;">Ładowanie informacji o systemie...</p>

   
    <div class="dashboard-container">
        <div class="stats-grid">
            <div class="stat-card">
                <div>CPU USAGE</div>
                <div id="cpu-text" class="stat-value">0%</div>
            </div>
            <div class="stat-card">
                <div>RAM USAGE</div>
                <div id="ram-text" class="stat-value">0%</div>
            </div>
        </div>

        <div class="chart-wrapper">
            <canvas id="realtimeChart"></canvas>
        </div>
        <div class="chart-wrapper" style="margin-top: 20px;">
        <h3>Aktywne Kontenery</h3>
            <div id="container-list" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; font-size: 0.9em;">
        </div>
        </div>
    </div>

   <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>